
template_femto.aux
template_femto.bbl
template_femto.bcf
template_femto.blg
template_femto.fdb_latexmk
template_femto.fls
template_femto.lof
template_femto.log
template_femto.lot
template_femto.mw
template_femto.nlo
template_femto.pdf
template_femto.run.xml
template_femto.synctex.gz
template_femto.toc
template_femto.pdf
.DS_Store
